body {
    background-image: url("/images/bgs/dark-bg.png");
    image-rendering: pixelated;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    margin: 0px;
    min-height: 100vh;
}

.header {
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 2px;
    width: 100%;
    min-width: max-content;
    background-image: url("/images/bgs/header-bg.png");
    image-rendering: pixelated;
    background-attachment: fixed;   
    display: flex;
    flex-direction: column;
}

.page_structure {
    margin-top: 10px;
    margin-left: 2px;
    display: flex;
    margin-bottom: 32px;
}

span {
    font-family: Verdana, Helvetica, Arial, Sans-Serif;
    font-size: 85%;
}

p{
    font-family: Verdana, Helvetica, Arial, Sans-Serif;
    color: #ffffff;
    font-size: 85%;
    margin: 0px;
}

.elements {
    display: flex;
    max-width: fit-content;
    flex-direction: column;
    margin-right: 10px;
}

.element {
    border: #884343 2px solid;
    margin-left: 4px;
    display: flex;
    flex-direction: column;
    height: max-content;
    margin-bottom: 10px;
}

.title {
    background-color: #900000;
    padding: 5px;
    color: #ffffff;
    font-size: 110%;
    font-weight: bold;
    line-break: auto;
}

.element_content {
    padding: 5px;
    background-color: #532727;
    line-break: anywhere;
}

.menu {
    border: #884343 2px solid;
    background-color: #900000;
    width: 123px;
    min-height: 16px;
    color: #ffffff;
    padding-left: 5px;
    margin-left: 2px;
    font-family: Verdana, Helvetica, Arial, Sans-Serif;
    display: flex;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 5px;
}

.menu_img {
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
}

.website_img {
    width: 88;
    height: 31;
    filter: contrast(75%);
}

.website_img:hover {
    filter: contrast(100%);
}

.menu_options {
    border: #884343 1px solid;
    background-color: #532727;
    width: 114px;
    padding-left: 10px;
    display: flex;
    margin-left: 8px;
    flex-direction: column;
}

.menu_options_websites {
    border: #884343 1px solid;
    background-color: #532727;
    padding-top: 4px;
    width: 122px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu_options_link {
    color: #ffffff;
    margin-bottom: 2px;
    margin-top: 2px;
    font-size: 85%;
    font-family: Verdana, Helvetica, Arial, Sans-Serif;
}

a:link {
    color: #ffff00;
}

a:visited {
    color: #ffff00;
    font-weight: bold;
}

a:hover {
    color: #ff7500;
}

footer {
    margin-top: auto;
    margin-bottom: 0px;
}

.footer_content {
    background-image: url("/images/bgs/header-bg.png");
    padding:16px;
    background-attachment: fixed;
}