*{
  image-rendering: pixelated;
}

body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  background-attachment: scroll;
  background-position: 0px 0px;
  position: relative;
}

html {
  min-height: 100%;
  background-attachment: scroll;
  margin: 0px;
  padding: 0px;
}

.clouds {
  overflow: hidden;
  background-repeat: repeat-x;
  image-rendering: pixelated;
  z-index: -98;
  opacity: 50%;
  height: 542px;
  width: 100%;
  position: absolute;
  bottom: 96px;
  display: flex;
  justify-content: space-around;
  color: white;
  animation: slide 500S linear infinite;
  animation-iteration-count: infinite;
  z-index: -95;
  filter: drop-shadow(6px 2px 0px rgba(0, 0, 0, 0.1))
}

.buttons_style {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 100%;
  color: black;
}
h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 100%;
  color: white;
}

.logo {
  padding: 16px;
  filter: drop-shadow(4px 4px 0px #000000);

}

.box_blue {
  color: beige;
  border: 32px solid transparent;
  background-clip: padding-box;
  image-rendering: pixelated;
  margin: 5px;
  width: max-content;
  filter: drop-shadow(2px 2px 0px #000000);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box_orange {
  font-family: Arial, Helvetica, sans-serif;
  color: beige;
  border: 32px solid transparent;
  background-clip: padding-box;
  width: max-content;
  image-rendering: pixelated;
  margin: 5px;
  filter: drop-shadow(2px 2px 0px #000000);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box_green {
  font-family: Arial, Helvetica, sans-serif;
  color: beige;
  border: 32px solid transparent;
  background-clip: padding-box;
  width: max-content;
  image-rendering: pixelated;
  margin: 5px;
  filter: drop-shadow(2px 2px 0px #000000);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box_white {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  border: 32px solid transparent;
  background-clip: padding-box;
  width: max-content;
  image-rendering: pixelated;
  margin: 5px;
  filter: drop-shadow(2px 2px 0px #000000);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box_red {
  font-family: Arial, Helvetica, sans-serif;
  color: beige;
  border: 32px solid transparent;
  background-clip: padding-box;
  width: max-content;
  image-rendering: pixelated;
  margin: 5px;
  filter: drop-shadow(2px 2px 0px #000000);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.username_not_enough_long{
  display: none;
  color: red;
}

.preferences_uploaded{
  display: none;
  color: rgb(0, 255, 0);
  flex-direction: column;
  justify-content: space-between;
}

.tableau{
  width: max-content;
  display: flex;
  justify-content: space-between;
}

.top {
  width: 100%;
  min-width: 100%;
  border-bottom: 32px solid transparent;
  background-clip: content-box;
  image-rendering: pixelated;
  background-color: #e8f0f8;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  image-rendering: pixelated;
  z-index: -96;
  height: 96px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.footer_content {
  height: 96px;
  margin-top: 96px;
}

.columns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pfp{
  border: 2px solid black;
  background-color: white;
  width: 64px;
  height: 64px;
}


.profile_status{
  display: flex;
  flex-direction: row;
  color: rgb(255, 255, 255);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 100%;
  align-items: center;
  justify-content: center;
}

.rows {
  display: flex;
  justify-content: center;
  flex-direction: row ;
}

.sun {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  image-rendering: pixelated;
  position: absolute;
  z-index: -100;
  height: 96px;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  color: white;
  filter: drop-shadow(0px 0px 200px #ffae00);
}

.hills {
  image-rendering: pixelated;
  z-index: -2;
  height: 262px;
  width: 100%;
  bottom: 96px;
  position: absolute;
  display: flex;
  justify-content: center;
  color: white;
}

@keyframes slide {
  0% {
    background-position: 100vw;
  }

  50% {
    background-position: 0;
  }

  100% {
    background-position: 100vw;
  }
}

.block {
  width: 32px;
  height: 32px;
  background-image: url(block.png);
  animation-name: marche;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(4);
  filter: drop-shadow(2px 2px 0px #000000)
}

@keyframes marche {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 0 -128px;
  }
}

.div_goomba {
  z-index: -92;
  height: 32px;
  width: 32px;
  bottom: 94px;
  position: absolute;
  background-position: bottom;
  display: flex;
  justify-content: center;
  animation: slide_goomba 40S linear infinite;
  animation-iteration-count: infinite;
}

.goomba {
  z-index: -92;
  height: 32px;
  width: 32px;
  left: 0px;
  right: 0px;
  position: absolute;
  background-position: bottom;
  display: flex;
  justify-content: center;
  background-image: url(goomba.png);
  animation-name: goomba_walk;
  animation-duration: 0.25s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(2);
}

@keyframes goomba_walk {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 0 -64px;
  }
}

@keyframes slide_goomba {
  0% {
    right: 50vw;
  }

  25% {
    right: 0vw;
  }

  50% {
    right: 50vw;
  }

  75% {
    right: 100vw;
  }

  100% {
    right: 50vw;
  }
}

a:link{
  text-decoration: none;
  color: inherit;
  z-index: 1;
}

a:visited{
  font-weight: 1000;
  color: inherit;
}

a:hover{
  color:rgb(229, 255, 0);
  text-decoration: underline;
}

.softwares_box{
  width: max-content;
  margin: 0px;
  padding: 0px;
}

.class_mario_luigi{
  display:flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}
.no_margin{
  margin-bottom: 0px;
  padding-bottom: 0px;
}