img:not(.pfp):not(.pfp_profile) {
  image-rendering: pixelated;
}

body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  background-attachment: scroll;
  background-position: 0px 0px;
  position: relative;
  image-rendering: pixelated;
}

#upload_win{
  min-width: 600px;
  max-width: 1200px;
}

html {
  background-attachment: scroll;
  margin: 0px;
  padding: 0px;
  min-width: max-content;
}

.stars {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
}

.documentation_div {
  width: 1200px;
}

.margin_20 {
  margin-bottom: 20;
}

.clouds {
  overflow: hidden;
  background-repeat: repeat-x;
  image-rendering: pixelated;
  z-index: -98;
  opacity: 50%;
  height: 542px;
  width: 100%;
  position: absolute;
  bottom: 96px;
  margin: 0px;
  display: flex;
  justify-content: space-around;
  color: white;
  animation: slide 500S linear infinite;
  animation-iteration-count: infinite;
  z-index: -100;
}

.buttons_style {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
}

h1 {
  font-family: Tahoma, sans-serif;
  font-size: 100%;
  color: black;
}

.wlvlsgo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: max-content;
  justify-content: space-around;
  align-items: center;
}

h2 {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 100%;
  color: white;
  margin-bottom: 10px;
  margin-top: -4px;
}

textarea {
  resize: none;
  border: none;
  overflow: auto;
  outline: none;

  /* -webkit-box-shadow: none; */
  /* -moz-box-shadow: none; */
  /* box-shadow: none; */

  resize: none;
  /*remove the resize handle on the bottom right*/
  margin-bottom: 10px;
  filter: drop-shadow(4px 4px 1px rgba(0, 0, 0, 0.5));

}

.file_button {
  margin-top: px;
  margin-bottom: 10px;
  margin-right: 10px;
  display: inline-block;
  background-color: #e0e0e0;
  color: #000000;
  border: #000000 solid 2px;
  padding: 0.25rem;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.file_button:hover{
  border: #e0e0e0 solid 2px;
}

p {
  font-family: Tahoma, sans-serif;
}

.logo {
  padding: 16px;
  filter: drop-shadow(4px 4px 0px #000000);

}

.noselect {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.box_left {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  image-rendering: pixelated;
  width: 512px;
  height: max-content;
  background-color: rgba(75, 75, 75, 0.5);
  backdrop-filter: blur(4px);
  border-bottom-right-radius: 1rem;
  margin: 0px;
  /* filter: drop-shadow(2px 2px 0px #000000); */
  z-index: 1;
  transition-timing-function: ease-in-out;
  transition-duration: height 500ms;
}

/* LEVELS */

@media only screen and (max-width: 600px) {
  .thumbnail {
    width: "128px";
    height: "128px";
  }
}

.level_name {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: "#ffffff";
  filter: drop-shadow(4px 4px 0px #000000);
  font-size: 200%;
}

.level_name_nsh {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: "#ffffff";
  font-size: 200%;
}

.pfp_profile {
  width: 256px;
  height: 256px;
  border-image: linear-gradient(#b0ecffa9, #00a2ff86) 30;
  border-width: 4px;
  border-style: solid;
}

.margin-bottom50px{
  margin-bottom:50px;
}

.margin-bottom20px{
  margin-bottom:20px;
}

.login_content{
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.login_entry{
  margin-bottom: 10px;
  border-radius: 0.25rem;
  background-color: #505050;
  color: #ffffff;
}

.login_entry:focus{
  animation-name: entry_focus;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  transition-duration: 125ms;
}

.login_label{
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.labels_sides{
  width: max-content;
  width: 20%;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.entries_sides{
  width: max-content;
  width: 70%;
  text-align: right;
}

.commentaries {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.commentary {
  width: 800px;
  height: max-content;
  line-break: auto;
  background-color: #27266e;
  text-align: left;
  padding: 5px;
  display: flex;
  flex-direction: column;
  border-bottom-right-radius: 1rem;
  border-top-left-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.65) 6px 6px 4px;
  margin-bottom: 20px;
}

.search_bars{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-end;
}

.option {
  width: max-content;
  height: max-content;
  display: flex;
  justify-content: baseline;
  flex-direction: row;
  margin-bottom: 10px;
}

.search_bar {
  width: 1200px;
  height: 100px;
  line-break: auto;
  background: linear-gradient(149deg, rgba(39, 38, 110, 1) 0%, rgba(21, 20, 68, 1) 100%);
  text-align: left;
  padding: 5px;
  display: flex;
  flex-direction: row;
  border-bottom-right-radius: 1rem;
  border-top-left-radius: 2rem;
  filter: drop-shadow(4px 4px 0px #000000);
  margin-bottom: 20px;
}

.wlg {
  max-width: 1200px;
  min-width: 500px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  border: 32px solid transparent;
  background-clip: padding-box;
  image-rendering: pixelated;
  margin: 5px;
  filter: drop-shadow(2px 2px 0px #000000);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top_div {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

a .infos:not(#lvl_up_button) {
  color: #e00000;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 500ms;
}

a .infos:hover:not(#lvl_up_button) {
  color: #e05050;
  text-decoration: none;
  transition-duration: 150ms;

}

.level_link {
  max-width: 600px;
  line-break: auto;
  height: 200px;
  color: #ffffff;
  border: 32px solid transparent;
  background-clip: padding-box;
  image-rendering: pixelated;
  margin: 5px;
  filter: drop-shadow(2px 2px 0px #000000);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.com_name_div {
  display: flex;
  text-align: left;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;

  height: 64px;
}

@keyframes author_anim {
  0% {
    color: rgb(0, 132, 255);
  }

  50% {
    color: rgb(95, 77, 255);
  }

  100% {
    color: rgb(0, 132, 255);
  }
}

.author {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #fefefe;
  animation-name: author_anim;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

.comment_content {
  padding: 10px;
  color: #d3d3d3;
}

.pp_com {
  border-image: linear-gradient(#b0ecffa9, #00a2ff86) 30;
  border-width: 4px;
  border-style: solid;
  margin-right: 10px;
  background-color: #000000;
  filter: drop-shadow(0px 0px 5px #000000);
  border-radius: 0.5rem;
  image-rendering: pixelated;
}

.top_div_level_link {
  text-align: left;
  width: 200px;
  line-break: auto;
}

.name_n_pfp {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.name_div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.website_description{
  height: 0px;
  overflow: hidden;
  filter: blur(4px);
  transition-duration: 500ms;
}

.entry {
  border-radius: 0.15rem;
  background-color: #505050;
  color: #ffffff;
  border: none;
  overflow: auto;
  outline: none;
  transition-duration: 500ms;
}

@keyframes entry_focus {
  0% {
    filter: drop-shadow(0px 0px 5px hsl(212, 100%, 80%));
    outline: hsl(212, 100%, 80%) 1px solid;
  }

  50% {
    filter: drop-shadow(0px 0px 5px hsl(313, 100%, 80%));
    outline: hsl(313, 100%, 80%) 1px solid;
  }

  100% {
    filter: drop-shadow(0px 0px 5px hsl(212, 100%, 80%));
    outline: hsl(212, 100%, 80%) 1px solid;

  }
}

.links{
  display: flex;
  text-align: left;
  justify-content: flex-start;
  flex-direction: column;
  height: max-content;
}

.entry:focus {
  animation-name: entry_focus;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  transition-duration: 125ms;
}

.infos {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #fefefe;
}

.infos_lvl_upload {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #fefefe;
  margin-right: 10px;
  margin-left: 4px;
}

.font {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #fefefe;
  margin-bottom: 20px;
}

.level_name_link {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #fefefe;
  font-size: 150%;
  line-break: strict;
}

.level_link_content {
  display: flex;
  flex-direction: row;
}

.com_name {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #fefefe;
  height: max-content;
  padding-bottom: 10px;
}

.spandesc {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100%;
  left: 0px;
  font-size: 125%;
}

.th_bbc {
  display: flex;
  flex-direction: row;
}

.bbcode_place {
  width: 74%;
  height: "256px";
  background: radial-gradient(circle, rgba(75, 75, 75, 1) 0%, rgba(59, 59, 59, 1) 100%);
  filter: drop-shadow(4px 4px 0px rgba(0, 0, 0, 0.5));
  border-radius: 0.25rem;
  margin-top: 10px;
  margin-left: 10px;
  border: #f8f8f8 2px solid;
  padding: 10px;
  display: flex;
  line-break: auto;
  overflow-y: scroll;
}

.description {
  width: 95%;
  height: 200px;
  background: radial-gradient(circle, rgba(75, 75, 75, 1) 0%, rgba(59, 59, 59, 1) 100%);
  filter: drop-shadow(4px 4px 0px rgba(0, 0, 0, 0.5));
  border-radius: 0.25rem;
  margin-top: 10px;
  border: #f8f8f8 2px solid;
  padding: 10px;
  display: flex;
  line-break: auto;
  overflow-y: scroll;
}

.actions_infos {
  padding-top: 50px;
  height: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 50px;
}

.actions {
  width: 39%;
  height: 256px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search_bar_top {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  height: max-content;
  padding-top: 10px;
}

.download {
  margin-top: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #fefefe;
  font-size: 125%;
  width: max-content;
}

#download_link {
  color: #ffffff;
}

#download_link:link {
  color: inherit;
}

#download_link:hover {
  color: #ffff00;
  transition-duration: 250ms;
}

.thumbnail {
  max-width: 256px;
  max-height: 256px;
  margin-top: 10px;
  width: 25%;
  /* height: "256px"; */
  border: #e8f0f8 2px solid;
  filter: drop-shadow(4px 4px 0px rgba(0, 0, 0, 0.5));
  border-radius: 0.25rem;
}

/* ____________________________ */

.box_blue {
  color: #ffffff;
  border: 32px solid transparent;
  background-clip: padding-box;
  image-rendering: pixelated;
  margin: 5px;
  filter: drop-shadow(2px 2px 0px #000000);
  box-sizing: border-box;
  display: flex;
  width: max-content;
  max-width: 1000px;
  flex-direction: column;
  justify-content: center;
}

.box_orange {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  border: 32px solid transparent;
  background-clip: padding-box;
  image-rendering: pixelated;
  margin: 5px;
  width: max-content;
  filter: drop-shadow(2px 2px 0px #000000);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box_green {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  border: 32px solid transparent;
  background-clip: padding-box;
  image-rendering: pixelated;
  width: max-content;
  margin: 5px;
  filter: drop-shadow(2px 2px 0px #000000);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box_white {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  border: 32px solid transparent;
  background-clip: padding-box;
  image-rendering: pixelated;
  width: max-content;
  margin: 5px;
  filter: drop-shadow(2px 2px 0px #000000);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box_red {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  border: 32px solid transparent;
  background-clip: padding-box;
  image-rendering: pixelated;
  width: max-content;
  margin: 5px;
  filter: drop-shadow(2px 2px 0px #000000);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.username_not_enough_long {
  display: none;
  color: red;
}

.preferences_uploaded {
  display: none;
  color: rgb(0, 255, 0);
  flex-direction: column;
  justify-content: space-between;
}

.tableau {
  display: flex;
  justify-content: space-between;
}

.top {
  width: max-content;
  position: absolute;
  min-width: 100%;
  border-bottom: 32px solid transparent;
  background-clip: content-box;
  image-rendering: pixelated;
  background-color: #e8f0f8;
  z-index: 1;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  image-rendering: pixelated;
  z-index: -96;
  height: 96px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.footer_content {
  height: 96px;
  margin-top: 96px;
}

.columns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.useful_links {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pfp {
  border: 2px solid black;
  background-color: white;
  width: 64px;
  height: 64px;
}


.profile_status {
  display: flex;
  flex-direction: row;
  color: rgb(255, 255, 255);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 100%;
  align-items: center;
  justify-content: center;
}

.rows {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.sun {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  image-rendering: pixelated;
  position: absolute;
  z-index: -100;
  height: 96px;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  color: white;
}

.hills {
  image-rendering: pixelated;
  z-index: -2;
  height: 262px;
  width: 100%;
  bottom: 96px;
  position: absolute;
  display: flex;
  justify-content: center;
  color: white;
}

@keyframes slide {
  0% {
    background-position: 100vw;
  }

  50% {
    background-position: 0;
  }

  100% {
    background-position: 100vw;
  }
}

.block {
  width: 32px;
  height: 32px;
  animation-name: block_anim;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(4);
  border: none;
  outline: none;
  filter: drop-shadow(2px 2px 0px #000000);
}

@keyframes block_anim {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 0 -128px;
  }
}

.div_goomba {
  z-index: -92;
  height: 32px;
  width: 32px;
  bottom: 94px;
  position: absolute;
  background-position: bottom;
  display: flex;
  justify-content: center;
  animation: slide_goomba 40S linear infinite;
  animation-iteration-count: infinite;
}

.goomba {
  z-index: -92;
  height: 32px;
  width: 32px;
  left: 0px;
  right: 0px;
  position: absolute;
  background-position: bottom;
  display: flex;
  justify-content: center;
  background-image: url(/web/20240402144708im_/https://mcrhubarb.net/goomba.png);
  animation-name: goomba_walk;
  animation-duration: 0.25s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(2);
}

@keyframes goomba_walk {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 0 -64px;
  }
}

@keyframes slide_goomba {
  0% {
    right: 50vw;
  }

  25% {
    right: 0vw;
  }

  50% {
    right: 50vw;
  }

  75% {
    right: 100vw;
  }

  100% {
    right: 50vw;
  }
}

a:link {
  text-decoration: none;
  color: inherit;
  z-index: 1;
}



a:visited {
  font-weight: 1000;
  color: inherit;
}

a :hover:not(.infos) {
  color: rgb(229, 255, 0);
  text-decoration: underline;
}

.websites {
  transition: 500ms;
  filter: contrast(50%);
  border-radius: 0rem;
}

@keyframes wohlsoft_hover{
  0%{box-shadow: #ffff0000 0px 0px 20px;outline: 1px #ffae0000 solid;}
  50%{box-shadow: #ffae00 0px 0px 20px;outline: 1px #ffae00 solid;}
  100%{box-shadow: #ffff0000 0px 0px 20px;outline: 1px #ffae0000 solid;}
}

@keyframes mfgg_hover{
  0%{box-shadow: #ffff0000 0px 0px 20px;outline: 1px #ffae0000 solid;}
  50%{box-shadow: #ff0000 0px 0px 20px;outline: 1px #ff0000 solid;}
  100%{box-shadow: #ffff0000 0px 0px 20px;outline: 1px #ffae0000 solid;}
}

@keyframes hfg_hover{
  0%{box-shadow: #ffff0000 0px 0px 20px;outline: 1px #ffae0000 solid;}
  50%{box-shadow: #ffffff 0px 0px 20px;outline: 1px #ffffff solid;}
  100%{box-shadow: #ffff0000 0px 0px 20px;outline: 1px #ffae0000 solid;}
}

a .websites:hover {
  filter: contrast(100%);
  transition-duration: 250ms;
}

img#wohlsoft_img:hover{
  animation: wohlsoft_hover 4s infinite;
}
img#mfgg_img:hover{
  animation: mfgg_hover 4s infinite;
}
img#hfg_img:hover{
  animation: hfg_hover 4s infinite;
}

.softwares_box {
  margin: 0px;
  padding: 0px;
}

.class_mario_luigi {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}

.no_margin {
  margin-bottom: 0px;
  padding-bottom: 0px;
}