*{font-weight:100;}
.maite{position:absolute;margin-left:32px;top:64px;width:128px;height:128px;}
html{padding:0px;}
body{padding:0px;margin:0px;background:url(/files/bg.png) fixed;background-size:250;image-rendering:auto;}
p,h1,h2,a{font-family:"PUTE";color:#fff;margin:0px;/*filter:drop-shadow(#000 0px 0px 4px)*/}
p,a{transition:250ms;text-align:left;}/* radial-gradient(circle, #ffdd59 50%, #ffc443 100%) */
p{font-size:30px;s}
.mail{font-size:20px;text-decoration:none;color:#ffd100}
.mail:hover{color:#ffe87e;text-decoration:underline;}
.b-out{/* text-shadow:-2px -2px 0 #000,0 -2px 0 #000,2px -2px 0 #000,2px 0 0 #000,2px 2px 0 #000,0 2px 0 #000,-2px 2px 0 #000,-2px 0 0 #000; */};
.b-out-smaller{text-shadow:-1px -1px 0 #000,0 -1px 0 #000,1px -1px 0 #000,1px 0 0 #000,1px 1px 0 #000,0 1px 0 #000,-1px 1px 0 #000,-1px 0 0 #000;};
a{text-decoration:none;transition:250ms;}
.btn-link:hover{transition:250ms;padding-left:10px;}
.content{width:780px;background:#212121;min-height:100vh;margin-bottom:-20px;padding:0px;box-shadow:#000 0px 0px 50px;margin-bottom:-35px;z-index:99}
.a-link{height:100%;text-align:center;font-size:40px;margin-left:20px;}
.a-link:hover{margin-right:-10px;}
ul{list-style:none;text-align:left;width:max-content;display:flex;flex-direction:column;}
li{display:flex;justify-content:center;align-items:center;text-align:left;width:max-content;margin-bottom:45px;}
header{width:100%;padding:10px;}
.website-logo{width:70%;/*animation: color_idle 16s infinite;*/margin-top:25px;margin-bottom:50px}
iframe{outline:none;border:none;border-radius:1rem;transition:250ms;filter:saturate(55%);width:100%;height:400px;}
iframe:hover{filter:saturate(100%);}
@font-face{font-family:PUTE;src:url(files/Pute.ttf);}
@font-face{font-family:YTB;src:url(files/Roboto.ttf);}
/*@keyframes color_idle{0%,100%{filter:drop-shadow(#fff 0px 0px 20px)}50%{filter:drop-shadow(#fff 0px 0px 0px)}}*/
.video-box{background:#0f0f0f;border-radius:1rem;width:90%;}
.ytb-font{font-family:"YTB";padding:10px;font-size:20px;width:100%;text-align:left;}
.rows{display:flex;flex-direction:row;height:max-content;}
.thumb{font-family:"YTB";width:max-content;background:#454545;border-radius:2rem;padding:5px;height:max-content;padding-right:15px;padding-left:15px;}
.pfp{border-radius:100%;height:64px}
.button{border-radius:2rem;display:flex;flex-direction:row;padding:15px;margin-bottom:30px;transition:250ms;cursor:pointer;color:#fff;}
.button:hover p{transition:250ms;padding-left:10px;}
@keyframes bg-anim{0%{left:0px;top:-162px;}100%{left:-418px;top:0px;}}
.rhb-bg{position:fixed;width:calc(100vw + 418px);height:calc(100vh + 162px);z-index:-99;animation:bg-anim 1s linear infinite;background:url(/files/alt-bg.png);min-height:100vh;top:0px;}
.car{width:80%;border-radius:1rem;display:flex;flex-direction:row;align-items:center;}
.car-piece{width:80%;border-radius:1rem;border:#fff 1px solid;}
.arrow{background-image:url("/files/arrow.png");width:32px;height:32px;margin:0px;padding:0px;z-index:102;margin:16px;cursor:pointer;}
