body
{
	background: url("bg.png");
	margin: 0;
	padding: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

@font-face{
	font-family: myFont;
	src:url(mcrhubarb.net/extrabold.ttf);
}

h1{
	font-family: myFont;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: white;
}

a:active {
  color: white;
}

a:link, a:visited {
  text-decoration: none;
}
